.tasks-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tasks-index{
    background-color: rgb(142, 185, 129);
    border-radius: 10px;
    margin: 10px;
    width: 320px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tasks-list{
    height: 77vh;
    width: 300px;
    overflow-y: scroll;
}
.task-item{
    background-color: white;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0px;
    border-radius: 10px;
    max-height: 100px;
    overflow-y: hidden;
    text-align: left;
    padding-left: 5px;
}
.tasks-navigator{
    padding: 5px;
}
.tasks-navigate-buttons{
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}
.tasks-content{
    text-align: left;
    display: flex;
}
.tasks-task-title{
    /* background-color: #65d045; */
    border-radius: 5px; 
    padding: 2px;
}
.tasks-task-title:hover{
    background-color:green ;
    border: 1px solid black;
}
.tasks-change-status-button{
    border-radius: 5px; 
    color: rgb(0, 0, 0);
    border: 1px solid black;
    background-color: #c9d2c6; 
}
.tasks-outlet{
    background-color:#8eb981;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    color: rgb(97, 0, 0);
    margin-right: 10em;
}
::-webkit-scrollbar{
    background-color: #5d984d;
    border-radius: 25px;
    margin-top: 5px;
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: green;
    border-radius: 15px;
}